/* Sections */
main {
  padding: 30px 20px;
}
.card-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2%;
}
section{
  margin-bottom: 30px;
}


@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event-card .image-placeholder {
  background-color: #ddd;
  height: 120px;
}

.event-card-text {
  padding: 0.8rem;
  border-top: 2px solid #c2762b;
}

.event-card-text strong {
  color: #c2762b;
  display: block;
  margin-bottom: 0.5rem;
}

/* Event Details */
.event-details {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.event-details .details {
  flex: 1;
  min-width: 280px;
}

.event-details .image-placeholder.large {
  background-color: #ddd;
  height: 200px;
  flex: 1;
  min-width: 200px;
}
.image-placeholder.large.b {
  background-image: url('../images/home/bbsg.jpg');
  background-size: cover;
  background-position: center;
}

.image-placeholder.large.c {
  background-image: url('../images/home/ndp.jpg');
  background-size: cover;
  background-position: center;
}

.enroll {
  background-color: #c2762b;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
}

.withdraw {
  background-color: #ccc;
  color: #555;
  padding: 0.5rem 1.2rem;
  border: none;
  cursor: not-allowed;
}

