/* This css file contains color variables, font family, nav bar, and footer. */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&display=swap');

/* color variables */
:root {
  --primary-color: #BF7730;
  --accent-color: #3B1817;
  --secondary-color: #ffffff;
  --bg-color: #F4F0EB;
}
*{
    font-family: "DM Serif Text", serif;
    background-color: var(--bg-color);
    color: var(--accent-color);
    box-sizing: border-box;
}
a{
  text-decoration: none !important;
}
h1{
    color: var(--primary-color) !important;
}

/*start of nav bar */
#navbar-container{
    padding: 0px 20px;
    background-color: var(--bg-color); 
    border-bottom: 1px solid #3b181736;
}
.nav-item{
    margin: 0px 20px;
    /* border: 1px solid red; */
}
.nav-item a{
    color: var(--accent-color);
}
/* Hover dropdown for navbar */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}
.nav-link.dropdown-toggle::after {
  margin-left: 0.1rem;
}
.cta-btn{
  color: white;    
  background-color: var(--primary-color);    
  border-color: var(--primary-color);
  padding: 10px 12px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  border: none;
  box-shadow: none;
  width: 115px !important;
  height: 45px;
}
.cta-btn:hover{
  background-color: var(--primary-color);
  color: white;
}
.nav-item.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute !important;
  z-index: 1050; 
  top: 100%; 
  left: 0;
  background-color: var(--bg-color) !important; 
}
#profileIcon{
  display: none; 
  font-size: 40px; 
}
.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--bg-color) !important;
}
/*end of nav bar */

/* start of footer */
footer{
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  padding: 30px 20px 30px 20px;
}
footer .questions, footer .social-media{
  display: flex;
  flex-direction: column;
  height: 125px;
  justify-content: space-between;
  /* border: 1px solid red; */
  width: 400px;
  text-align: center;
}
footer h1, footer p, footer ul{
  margin: 0;
}
.questions, .social-media, .questions h1, .questions p, .social-media h1, .social-media p, .social-media ul, .social-media ul li, .email, .email a, .social-media ul li a{
  background-color: var(--primary-color) !important;
  color: var(--secondary-color) !important;
}
.social-media ul li a i{
  background-color: var(--primary-color);
  font-size: 30px;
}
.fa-facebook{
  color: #106aff !important;
}
.fa-instagram{
  color: #d00be9;
}
.fa-tiktok{
  color: #080808;
}
.social-media ul{
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 1rem; 
  justify-content: center;
}


@media (max-width: 500px) {
  footer{
    flex-direction: column;
  }
  footer .questions, footer .social-media{
    justify-content: flex-start;
    height: 100px;
  }
}
/* end of footer */